<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Songs Homepage - Welcome to My Music Store</title>
</head>
<body>

<header>
    <nav style="background-color: #f8f9fa; padding: 10px; display: flex; justify-content: space-between; align-items: center;">
        <div>
            <a href="/" style="text-decoration: none; font-size: 24px; font-weight: bold; color: #333;">Welcome to My Music Store</a>
        </div>


        <div>
            <div sec:authorize="isAuthenticated()">
                <span class="nav-item">
                    <i class="fa-solid fa-user"></i>
                    Welcome, <strong sec:authentication="name"></strong>!
                </span>
                <a class="btn btn-danger btn-sm ml-3" href="/logout">
                    <i class="fa-solid fa-right-from-bracket"></i> Logout
                </a>
            </div>

            <a class="nav-item" sec:authorize="isAnonymous()">
                <a class="btn btn-light btn-sm ml-3" href="/login">
                    <i class="fa-solid fa-right-to-bracket"></i> Login
                </a>
            </a>
        </div>
    </nav>
    <br>
    <br>

    <a href="/songs/add-form">Add song</a>
</header>

<main>
    <!-- Search Section -->
<!--    <section>-->
<!--        <h3>Search song by title:</h3>-->
<!--        <form th:method="POST" th:action="@{/listSongs}">-->
<!--            <input type="text" name="searchString" placeholder="Search song by title">-->
<!--            <input type="submit" value="Search song">-->
<!--        </form>-->

<!--        <form th:method="POST" th:action="@{/artist}">-->
<!--            <div th:each="filSong : ${filteredSongs}">-->
<!--                <input type="radio" name="songRadio" th:id="${filSong.trackId}" th:value="${filSong.trackId}">-->
<!--                <label th:for="${filSong.trackId}" th:text="'Title: ' + ${filSong.title} + ', Genre: ' + ${filSong.genre} + ', Release Year: ' + ${filSong.releaseYear}"></label>-->
<!--                <br>-->
<!--            </div>-->
<!--        </form>-->
<!--    </section>-->


    <!-- Songs List Section -->
    <h2>Choose a song:</h2>
    <form th:method="POST" th:action="@{/artist}">
        <div th:each="song : ${songs}">
            <input type="radio" name="songRadio" th:id="${song.getId()}" th:value="${song.getId()}">
            <label th:for="${song.getId()}" th:text="'Title: ' + ${song.title} + ', Genre: ' + ${song.genre} + ', Release Year: ' + ${song.releaseYear}"></label>

            <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/songs/delete/{id}(id=${song.getId()})}">Delete</a>
            <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/songs/edit/{id}(id=${song.getId()})}">Edit</a>
            <br>
        </div>
        <br>
        <input type="submit" value="Submit">
    </form>


    <div>
        <h2>Choose album</h2>
        <br>
        <div th:each="album : ${albums}">

            <a th:text="${album.getName()}" th:href="@{/songs/album/{id}(id=${album.getId()})}"></a>
            <br>
        </div>
    </div>

</main>
</body>
</html>