<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Songs in album</title>
</head>
<body>

<header xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav style="background-color: #f8f9fa; padding: 10px; display: flex; justify-content: space-between; align-items: center;">
        <div>
            <a href="/" style="text-decoration: none; font-size: 24px; font-weight: bold; color: #333;">Welcome to My Music Store</a>
        </div>


        <div>
            <div sec:authorize="isAuthenticated()">
                <span class="nav-item">
                    <i class="fa-solid fa-user"></i>
                    Welcome, <strong sec:authentication="name"></strong>!
                </span>
                <a class="btn btn-danger btn-sm ml-3" href="/logout">
                    <i class="fa-solid fa-right-from-bracket"></i> Logout
                </a>
            </div>

            <a class="nav-item" sec:authorize="isAnonymous()">
                <a class="btn btn-light btn-sm ml-3" href="/login">
                    <i class="fa-solid fa-right-to-bracket"></i> Login
                </a>
            </a>
        </div>
    </nav>
    <br>
    <br>
</header>


<div>
    <h2>Songs in album</h2>
    <br>
    <div th:each="song : ${songs}">

        <a th:text="${song.getTitle()}"></a>
        <br>
        <br>
    </div>
    <a type="button" href="/songs">Back</a>
</div>

</body>
</html>